{% extends 'base.html' %}

{% block content %}

<div id="job-logs">

    <h3>Job Logs for {{ job_name }}</h3>

{# squished with one newline since we don't want a pile of whitespace in between our log line in the pre and code tags #}
<dl>
{% for event in events %}{%if 'event_type' not in event %}<dd>{{event}}</dd>{% endif %}{%if event['event_type'] == 'new_phase' %}<dt>{{ event.message }}{%if 'redirect_url' in event %} <a href="{{event.redirect_url}}">{{event.redirect_url}}</a><meta http-equiv="refresh" content="4; url={{event.redirect_url}}">{% endif %}</dt>{% elif event['event_type'] == 'k8s_pod_event' %}<dd>{{ event.k8s_event.object.metadata.name }} {{ event.k8s_event.type }}{%if event.k8s_event.object.metadata.name == 'Pod' %}{{ event.k8s_event.object.status.phase }}{%endif %}</dd>{% elif event['event_type'] == 'k8s_container_log_line' %}{%if loop.previtem['event_type'] != 'k8s_container_log_line' %}<dd><pre><code>{% endif %}{{ event.log_line }}
{%if loop.nextitem['event_type'] != 'k8s_container_log_line' %}</code></pre></dd>{% endif %}{% else %}<dd>{{event}}</dd>{% endif %}{% endfor %}
</dl>

</div>
{% endblock %}
