{% extends 'base.html' %}

{% block content %}

<div id="scan-results">
    <p><em>This service is in <strong>alpha</strong> state and may contain inaccurate results.<em></em></em></p>

    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="card card-primary summary summary-condensed" id="scan-summary">
                <div class="card-header bg-primary text-center text-md-left text-white">
                    <span class="h3">Summary</span>
                </div>
                <div class="card-body pb-1">
                    <div class="row">
                        <div class="col-xs-12 col-xl-8 pl-xl-0 table-responsive">
                            <table class="table table-striped table-sm scan-summary-table">
                                <tr>
                                    <td>Package</td>
                                    <td id="package">
                                        <a target="_blank" rel="noreferrer" rel="noopener" href="https://www.npmjs.com/package/{{package_name}}" title="">
                                            {{package_name}}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NPMS IO Score</td>
                                    <td id="npmsio_score">
                                        {%if npmsio_score %}{{ npmsio_score.score | round(2)}}{%endif%}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Versions</td>
                                    <td>{{versions | length}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-primary mt-4" id="package-versions-card">
        <div class="card-header bg-primary text-center text-md-left text-white">
            <span class="h3">Package Versions and Diffs</span>
        </div>
        <div class="card-body pb-1">
            <table id="package-versions-table" class="table table-striped table-sm">
                <tr>
                    <th>
                        Package Report
                    </th>
                    <th>
                        npm page
                    </th>
                    <th>
                        source commit
                    </th>
                    <th>
                        source diff
                    </th>
                    <th>
                        tarball URL and shasum
                    </th>
                    <th>
                        tarball diff
                    </th>
                </tr>
                {% for reg_entry in registry_entries %}
                <tr>
                    <td>
                        <a target="_blank" href="/package_report?package_name={{reg_entry.package_name}}&package_version={{reg_entry.package_version}}&package_manager=npm">{{reg_entry.package_version}}</a>
                    </td>
                    <td>
                        <a target="_blank" rel="noreferrer" rel="noopener" href="https://www.npmjs.com/package/{{reg_entry.package_name}}/v/{{reg_entry.package_version}}">{{reg_entry.package_version}}</a>
                    </td>
                    <td>
                        {%if reg_entry.normalized_repo_url %}
                        <a target="_blank" rel="noreferrer" rel="noopener" href="{{reg_entry.normalized_repo_url}}/commit/{{reg_entry.git_head}}">
                            {{reg_entry.git_head}}
                        </a>
                        {% else %}
                        <!-- TODO: link non-github.com netlocs -->
                        {{reg_entry.git_head}}
                        {%endif%}
                    </td>
                    <td>
                        <!-- source diff -->
                    </td>
                    <td>
                        <a target="_blank" rel="noreferrer" rel="noopener" href="{{reg_entry.tarball}}">{{reg_entry.tarball}}</a>
                        <pre>{{reg_entry.shasum}}</pre>
                    </td>
                    <td>
                        <!-- tarball diff -->
                    </td>
                </tr>

                {%if loop.nextitem %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <!-- source diff -->
                            {%if reg_entry.normalized_repo_url %}
                            <a target="_blank" rel="noreferrer" rel="noopener" href="{{reg_entry.normalized_repo_url}}/compare/{{loop.nextitem.git_head}}..{{reg_entry.git_head}}">
                                source diff
                            </a>
                            {% else %}
                            <!-- TODO: link non-github.com netlocs -->
                            {%endif%}
                        </td>
                        <td></td>
                        <td>
                            <!-- tarball diff -->
                            <!-- TODO: implement more diffing or workaround intrinsic limitations -->
                            <a target="_blank" rel="noreferrer" rel="noopener" href="https://diff.intrinsic.com/{{package_name}}/{{loop.nextitem.package_version}}/{{reg_entry.package_version}}">
                                {{loop.nextitem.package_version}}/{{reg_entry.package_version}}
                            </a>
                        </td>
                    </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
