{% extends 'base.html' %}

{% block content %}

<div id="scan-results">
    <p><em>This service is in <strong>alpha</strong> state and may contain inaccurate results.<em></em></em></p>

    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="card card-primary summary summary-condensed" id="scan-summary">
                <div class="card-header bg-primary text-center text-md-left text-white">
                    <span class="h3">Summary</span>
                </div>
                <div class="card-body pb-1">
                    <div class="row">
                        <div class="col-xs-12 col-xl-8 pl-xl-0 table-responsive">
                            <table class="table table-striped table-sm scan-summary-table">
                                <tr>
                                    <td>Package</td>
                                    <td id="package">
                                        <a href="https://www.npmjs.com/package/{{name}}" title="">
                                            {{name}}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{versions | length}} versions</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-primary mt-4" id="package-versions-card">
        <div class="card-header bg-primary text-center text-md-left text-white">
            <span class="h3">Package Versions</span>
        </div>
        <div class="card-body pb-1">
            <table id="package-versions-table" class="table table-striped table-sm">
                <tr>
                    <th>
                        Package Report URL
                    </th>
                    <th>
                        npm URL
                    </th>
                    <th>
                        Source URL
                    </th>
                    <th>
                        Git HEAD Reference
                    </th>
                    <th>
                        Tarball URL
                    </th>
                </tr>
                {% for version, source_url, git_head, tarball_url in versions %}
                <tr>
                    <td>
                        <a target="_blank" href="/package_report?package_name={{name}}&package_version={{version}}&package_manager=npm">{{version}}</a>
                    </td>
                    <td>
                        <a target="_blank" rel="noreferrer" rel="noopener" href="https://www.npmjs.com/package/{{name}}/v/{{version}}">{{version}}</a>
                    </td>
                    <td>
                        <a target="_blank" rel="noreferrer" rel="noopener" href="{{source_url}}">{{source_url}}</a>
                    </td>
                    <td>
                        <!-- TODO normalize and link to .repository.url ref if possible -->
                        {{git_head}}
                    </td>
                    <td>
                        <a target="_blank" rel="noreferrer" rel="noopener" href="{{tarball_url}}">{{tarball_url}}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
