{% extends 'base.html' %}

{% block content %}

<div id="job-logs">

    <h3>Scan Logs for {{ scan.package_name }} {%if scan.package_version %}{{ scan.package_version }}{% else %}all versions{% endif %}</h3>

    <div>
        <h4>status: <span class="badge badge-secondary
                                 {%if scan.status == 'queued' %}badge-secondary
                                 {% elif scan.status == 'started' %}badge-primary
                                 {% elif scan.status == 'succeeded' %}badge-success
                                 {% elif scan.status == 'failed' %}badge-danger
                                 {% endif %}">{{ scan.status }}</span></h4>

        {%if scan.status == 'succeeded' %}
        <div>
            {% if scan.package_version %}
            package report:
            <a href="/package_report?package_name={{ scan.package_name }}&package_version={{ scan.package_version }}&package_manager=npm">
                {{ scan.package_name }}@{{ scan.package_version }}
            </a>
            {% else %}
            package changelog:
            <a href="/package_changelog?package_name={{ scan.package_name }}&package_manager=npm">
                {{ scan.package_name }}
            </a>
            {% endif %}
        </div>
        {% endif %}

        {%if refresh and scan.status != 'failed' %}
            <div>This page will refresh every five seconds until the scan finishes then redirect to the package report or changelog.</div>
            {% if scan.status == 'succeeded' and scan.package_version %}
            <meta http-equiv="refresh" content="5; url=/package_report?package_name={{ scan.package_name }}&package_version={{ scan.package_version }}&package_manager=npm">
            {% elif scan.status == 'succeeded' %}
            <meta http-equiv="refresh" content="5; url=/package_changelog?package_name={{ scan.package_name }}&package_manager=npm">
            {% else %}
            <meta http-equiv="refresh" content="5">
            {% endif %}
        {% endif %}

        {%if scan.status == 'failed' %}
        <div class="alert alert-warning">
            <br>An unexpected error occurred.

            <br>Please retry your search.

            <br>If the problem persists, please <a class="error-issue-link" target="_blank" rel="noreferrer" rel="noopener" href="https://github.com/mozilla-services/dependency-observatory/issues/new?title=error making request&body=scan failed id: {{scan.id}}">click here</a> to file an issue
        </div>
        {% endif %}
    </div>

    <dl>
        <dd>
            <pre><code>{% for result in results %}{{ result.data }}{% endfor %}</code></pre>
        </dd>
    </dl>
</div>
{% endblock %}
