{% extends 'base.html' %}

{% block content %}

<div>
    <h1>Scan {{ scan.id }}</h1>

    <div>
        {% include 'scan_status.html' %}

        <div>
            scan of:

            {% if scan.name == 'scan_score_npm_package' %}
                {{ scan.package_name }}
                {%if scan.package_version %}
                    {{ scan.package_version }}
                {% else %}
                    releases
                {% endif %}
            {% elif scan.name == 'scan_score_npm_dep_files' %}
                {% include 'dep_files_list.html' %}
            {% else %}
                Unknown targets
            {% endif %}
        </div>

        {%if scan.status == 'failed' %}
            <div class="alert alert-warning">
                <br>An unexpected error occurred.

                <br>Please retry your search.

                <br>If the problem persists, please <a class="error-issue-link" target="_blank" rel="noreferrer" rel="noopener" href="https://github.com/mozilla-services/dependency-observatory/issues/new?title=error making request&body=scan failed id: {{scan.id}}">click here</a> to file an issue
            </div>
        {% else %}
            {%if refresh %}
                <div>This page will refresh every five seconds until the scan finishes.</div>
                {% if scan.status == 'succeeded' %}
                    <meta http-equiv="refresh" content="5; url={{ scan.report_url }}">
                {% else %}
                    <meta http-equiv="refresh" content="5">
                {% endif %}
            {% endif %}

            {%if scan.status == 'succeeded' %}
                <h2>
                    <a href="{{ scan.report_url }}">
                        scan report
                    </a>
                </h2>
            {% endif %}
        {% endif %}
    </div>

    <h3>Logs</h3>

    <dl>
        <dd>
            <pre><code>{% for result in results %}{{ result.data }}
{% endfor %}</code></pre>
        </dd>
    </dl>
</div>
{% endblock %}
