{% extends 'base.html' %}

{% block content %}
<noscript>
    <h1>Please enable Javascript to initiate package scans.</h1>
</noscript>

<div id="no-scan">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2">
            <h1 class="h6 margin-bottom">
                Welcome to Mozilla's Dependency Observatory. This service is in <strong>alpha</strong> state and may contain inaccurate results.
            </h1>
            <div class="card mt-3">
                <div class="card-header bg-primary text-white"><span class="h3">Find a package</span></div>
                <div class="card-body no-popover-mobile pb-4">
                    <form id="search-form" method="GET" action="/package_report">
                        <fieldset class="form-group">
                            <div class="input-group mt-2 mb-3">
                                <select id="manager" name="package_manager">
                                    <option value="npm">NPM</option>
                                </select>
                                <input type="text" class="form-control" id="packageName" name="package_name" placeholder="enter package name here" aria-label="package name" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus>
                                <input type="text" class="form-control" id="versionName" name="package_version" placeholder="enter optional package version here" aria-label="package version" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus>
                                <button class="btn btn-primary" type="submit">Find Now</button>
                            </div>

                            <div class="form-check" title="" data-toggle="popover" data-content="By default, any reports from the last {{ scored_after_days }} will be returned." data-original-title="Published a new version?">
                                <input class="form-check-input" type="checkbox" name="force_rescan" id="scan-btn-rescan">
                                <label class="form-check-label" for="scan-btn-rescan">
                                    Force a rescan instead of returning cached results
                                </label>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-none" id="search-error">
    <div class="alert alert-danger">
        <br>An unexpected error occurred <span id="error-context"></span> (request ID: <span id="error-request-id"></span>).

	<br>Please retry your search.

	<br>If the problem persists, please <a class="error-issue-link" target="_blank" href="https://github.com/mozilla-services/dependency-observatory/issues/new?title=error making request&body=request id: replaceme">click here</a> to file an issue
    </div>
</div>

<script src="/static/do.js"></script>
{% endblock %}
