{% extends 'base.html' %}

{% block content %}
      <div>
          <h1 class="mb-4">Statistics</h1>
      </div>

      <div id="histogram">
          <h2 class="h3 border-bottom border-light mb-3 pb-2" id="letter-scores">Distribution of letter scores</h2>
          <div class="flex-container">
            <div id="score_code_histogram"></div>
            <div>
              <table id="score_table_latest">
                {% for score, count in sorted_scores.items() %}
                  <tr>
                    <th> {{ score }} </th>
                    <td> {{ count }} </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
      </div>

      <div id="distribution">
          <h2 class="h3 border-bottom border-light mb-3 pb-2" id="numerical-scores">Distribution of numerical scores</h2>
          <div id="score_distribution"></div>
      </div>

      <script src="/static/statistics_page.js"></script>
{% endblock %}
