{% extends 'base.html' %}

{% block content %}
      <div>
          <h1 class="mb-4">Statistics</h1>
      </div>

      <div id="histogram">
          <h2 class="h3 border-bottom border-light mb-3 pb-2" id="letter-scores">Distribution of letter scores</h2>
          Scoring algorithm version:
          <select class="form-s" id="histScoringView" name="hist_scoring_view">
            <option value="latest" select="selected">Latest</option>
            <option value="v0">V0</option>
          </select>
          <br>
          <div class="flex-container">
            <div>
              <img id="histogram_image" src="/histogram.png">
            </div>
            <div>
              <table id="score_table_latest">
                {% for score, count in table_data["latest"].items() %}
                  <tr>
                    <th> {{ score }} </th>
                    <td> {{ count }} </td>
                  </tr>
                {% endfor %}
              </table>
              <table hidden id="score_table_v0">
                {% for score, count in table_data["v0"].items() %}
                  <tr>
                    <th> {{ score }} </th>
                    <td> {{ count }} </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
      </div>

      <div id="distribution">
          <h2 class="h3 border-bottom border-light mb-3 pb-2" id="numerical-scores">Distribution of numerical scores</h2>
          Scoring algorithm version:
          <select class="form-s" id="distScoringView" name="dist_scoring_view">
            <option value="latest" select="selected">Latest</option>
            <option value="v0">V0</option>
      		</select>
          <br>
          <img id="distribution_image" src="/distribution.png">
      </div>

      <script src="/static/vega@5.js"></script>
      <script src="/static/vega-interpreter@1.js"></script>
      <script src="/static/vega-lite@4.js"></script>
      <script src="/static/vega-embed@6.js"></script>
      <script src="/static/graph.js"></script>
{% endblock %}
