# These environment variables must be set in CircleCI UI
#
# DOCKERHUB_REPO - docker hub repo, format: <username>/<repo>
# DOCKER_USER
# DOCKER_PASS
#
version: 2.1
jobs:
  check-format:
    docker:
      - image: circleci/python:buster
    steps:
      - checkout
      - run:
          name: check code is formatted with black and output diff
          command: |
            pip install --user "$(grep black depobs/requirements.txt)"
            black --config pyproject.toml --diff .
            black --config pyproject.toml --check .

  unit-test:
    docker:
      - image: circleci/python:buster
    environment:
      CELERY_BROKER_URL: sqla+postgresql://postgres:postgres@db/dependency_observatory
      CELERY_RESULT_BACKEND: db+postgresql://postgres:postgres@db/dependency_observatory
    steps:
      - checkout
      - run:
          name: run unit tests with coverage (no DB)
          command: |
            pip install --user -r depobs/requirements.txt
            CI=1 ./util/run_tests_with_coverage.sh
      - store_artifacts:
          path: htmlcov

  build-images:
    docker:
      - image: circleci/python:buster
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: write a version.json in depobs/
          command: |
            CI=1 ./util/write_version_json.sh > depobs/version.json
      - run:
          name: docker-compose build
          command: docker-compose build
      - run:
          name: save built image to cache
          command: docker save "${DOCKERHUB_REPO}:latest" | gzip -c > /tmp/docker.tgz
      - save_cache:
          key: v1-{{ .Branch }}-{{ epoch }}
          paths:
            - /tmp/docker.tgz

  deploy:
    docker:
      - image: circleci/python:buster
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          key: v1-{{.Branch}}
      - run:
          name: Restore Docker image cache
          command: gunzip -c /tmp/docker.tgz | docker load
      - run:
          name: deploy to Dockerhub
          command: |
            # deploy master
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker-compose push api
            elif  [ ! -z "${CIRCLE_TAG}" ]; then
              # deploy a release tag
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              echo "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              docker tag "${DOCKERHUB_REPO}:latest" "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              docker push "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
            fi

workflows:
  version: 2
  check-readme-local-dev:
    jobs:
      - check-format:
        filters:
          tags:
            only: /.*/

      - unit-test:
        filters:
          tags:
            only: /.*/

      - build-images:
          filters:
            tags:
              only: /.*/

      - deploy:
          requires:
            - check-format
            - unit-test
            - build-images
          filters:
            tags:
              # only upload the docker container on semver tags
              only: /[0-9]\.[0-9]+\.[0-9]+/
            branches:
              only: master
